/* Landing component */

.mainContainer{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.buttonContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.activeButton{
  background: whitesmoke;
  transition-delay: 2s;
}

.inactiveButton{
  color: whitesmoke;
  background: #282c34;
}

.inactiveButton:hover{
  background: whitesmoke;
  color: black;
}

.buttonContainer button{
  min-width: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem;
  font-size: medium;
}



/* Books and Movies */

.componentContent{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 5rem;
}

.bookContent, .movieContent {
  position: relative;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: flex-start;
  background: rgb(159, 184, 192);
  border-radius: .25rem;
  padding: .5rem;
  padding-top: 30%;
  box-shadow: .3rem .3rem .3rem rgba(204, 204, 204, 0.233);
  animation: fadeIn 1s ease-in both;
}

.bookInfo, .movieInfo{
  max-width: inherit;
  padding-top: 1rem;
}


.bookInfo p, .movieInfo p{
  line-height: 150%;
  padding-left: 15%;
}

.bookInfo p:first-of-type, .movieInfo p:first-of-type{
  font-weight: bold;
  color: whitesmoke;
}

.contentType{
  width: 2rem;
  height: 3.5rem;
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: .5rem;
  background: rgba(82, 103, 110, 0.719);
  border-radius: .15rem;
}

.contentType i{
  color: whitesmoke;
}

.contentTypeCutout{
  position: relative;
  bottom: -1rem;
  width: inherit;
  height: 100%;
  background:rgb(159, 184, 192);
  transform: rotate(45deg);
  border-radius: .25rem;
}

.genreLabel{
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  gap: .5rem;
}

.genreLabel p{
  width: 6rem;
  padding: .2rem .8rem;
  border-radius: .15rem;
  color: whitesmoke;
  text-align: center;
  background-color:#282c3477;
}

/* Animations */

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}